<div class="header">
  <span class="logo"></span>
  <form class="form">
    <input class="input" type="text" placeholder="What are you want to find out?">
    <button
      (click)="delete()"
      type="button"
      class="search"
      mat-raised-button
      color="primary"
    >search</button>
    <button
      type="button"
      class="settings"
      mat-raised-button
      color="primary"
      (click)="showFilter()"
    >
      <span class="material-icons tune">tune</span>
    </button>
  </form>
  <div class="user-info">
    <span class="user-name">Your Name</span>
    <span class="material-icons user">account_box</span>
  </div>
</div>
