<div class="header">
  <span
    routerLink="/"
    class="logo"></span>
  <form class="form">
    <input
      class="input"
      type="text"
      placeholder="What are you want to find out?"
      [(ngModel)]="inputValue"
      name="queryString"
      (input)="inputChange($event)"
    >
    <button
      type="button"
      class="settings"
      mat-raised-button
      color="primary"
      (click)="showFilter()"
    >
      <span class="material-icons tune">tune</span>
    </button>
  </form>
  <div *ngIf="!user" class="user-info">
    <button mat-raised-button color="primary" routerLink="/login" class="login">Log In</button>
    <button mat-raised-button color="primary" routerLink="/registration" class="sign-up">Sign Up</button>
  </div>
  <div *ngIf="user" class="user-info">
    <div class="left-block">
      <span class="user-name">Hello, {{ user.name }}!</span>
      <span class="logout-link" (click)="logout()">Logout</span>
    </div>
    <span class="material-icons user">account_box</span>
  </div>
</div>
