$background-1: #E5E5E5;
$background-2: #EFEFEF;
$brand-color: #2979ff;
$text-color-1: #929292;
$text-color-2: #4F4F4F;
$text-color-sort: #2F80ED;
$border-less-7-days: #2F80ED;
$border-less-month: #27AE60;
$border-more-1-month: #F2C94C;
$border-more-6-month: #EB5757;
$form-background-color: #F2F2F2;
