<div class="detailed-block">
  <button
    mat-raised-button
    color="primary"
    class="hide-button"
    type="button"
    (click)="hide()"
  >
    <span class="material-icons">
      keyboard_arrow_left
    </span>
  </button>
  <div class="image-wrap">
    <img
      [src]="item.snippet.thumbnails.maxres?.url
          || item.snippet.thumbnails.standard?.url
          || item.snippet.thumbnails.high?.url
          || ''"
      [alt]="item.snippet.title"
      class="image"
    >
  </div>
  <div
    class="info"
    [appBorderColor]="item.snippet.publishedAt"
  >
    <div class="top">
      <h1 class="title">{{ item.snippet.title }}</h1>
      <span class="date">{{ item.snippet.publishedAt | date: 'EEEE, LLLL dd, yyyy' }}</span>
    </div>
    <div class="description">
      <span class="description__title">Description:</span>
      <p class="description__info">{{ item.snippet.description }}</p>
    </div>
    <app-info-bar
      [item]="item"
      class="info-bar"
    ></app-info-bar>
  </div>
</div>


